/* src/components/IntroOverlay/IntroOverlay.css */

.intro-overlay {
    background: var(--white);
    position: fixed;
    min-height: 100vh;
    min-height: 100dvh; /* dvh is for dynamic viewport height on mobile */
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-overlay .ball {
    position: absolute;
    top: -50vh; /* Start off-screen */
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: var(--black);
}